<div class="jumbotron">

</div>

<div class="searchbar">
  <h4><span class="search-text">Search for a sport</span></h4>
  <form action='/search' method = 'get'>
    <input type='text' name="keyword" id ="search" placeholder="search for a sport or activity by name (e.g. soccer)" width="50">
    <button type='submit' class="btn search-btn">Search</button>
  </form>

  <a id="sell_tickets"></a>

    <form action='/categorysearch' method='get' class="categories">
      <button class="btn btn-info">Rugby</button>
      <button class="btn btn-info">Football</button>
      <button class="btn btn-info">Track</button>
      <button class="btn btn-info">Ultimate Frisbee</button>
      <button class="btn btn-info">Basketball</button>
      <button class="btn btn-info">Running Club</button>
    </form>
</div>

<h4 class="text-center"><span class="search-text">Happening soon...</span></h4>
<div class="tiles">
  <div class="box box-1">
    <div>
    <h4>Introduction to Rugby - all welcome</h4>
    <h5>Thurs 22 June 2016 - 7pm</h5>
    <h5>Happy Valley, Causeway Bay</h5>
    <h5>Led by Julie </h5>
    </div>
  </div>
  <div class="box box-2">
    <div>
    <h4>Kick-about! Soccer Session</h4>
    <h5>Fri 24 June 2016 - 7pm</h5>
    <h5>Kwun Tong, Kowloon</h5>
    <h5>Led by Kelly </h5>
    </div>
  </div>
  <div class="box box-3">
    <div>
    <h4>Ultimate-Frisbee Practice</h4>
    <h5>Fri 24 June 2016 - 9pm</h5>
    <h5>Lok Fu, Kowloon</h5>
    <h5>Led by Alicia </h5>
    </div>
  </div>
  <div class="box box-4">
    <div>
    <h4>Running-club</h4>
    <h5>Sat 25 June 2016 - 11am</h5>
    <h5>Sai Wan, HK</h5>
    <h5>Led by Brenda </h5>
    </div>
  </div>
  <div class="box box-5">
    <div>
    <h4>Introduction to Rugby - Part 2</h4>
    <h5>Sat 25 June 2016 - 7pm</h5>
    <h5>Happy Valley, Causeway Bay</h5>
    <h5>Led by Julie </h5>
    </div>
  </div>
</div>
