<div class="jumbotron">

</div>

<div class="searchbar">
  <h4><span class="search-text">Search for a sport</span></h4>
  <form action='/search' method = 'get'>
    <input type='text' name="keyword" id ="search" placeholder="search for a sport or activity by name (e.g. soccer)" width="50">
    <button type='submit' class="btn search-btn">Search</button>
  </form>

  <a id="sell_tickets"></a>

    <form action='/categorysearch' method='get' class="categories">
      <button class="btn btn-info">Rugby</button>
      <button class="btn btn-info">Football</button>
      <button class="btn btn-info">Track</button>
      <button class="btn btn-info">Ultimate Frisbee</button>
      <button class="btn btn-info">Basketball</button>
      <button class="btn btn-info">Boxing</button>
      <button class="btn btn-info">Running Club</button>
    </form>
</div>
