<% if @keyword == "" %>
<h3>You are searching for all sports</h3>
<% else %>
<h3>You are searching for "<%=@keyword%>"</h3>
<% end %>

<div class="col-md-12">

<h2>Event results </h2>
<% if @event_results.any?%>
  <%@event_results.each do|event|%>
    <li>
      <a href='/event/<%=event.first.id%>'><%=event.first.name%></a>
    </li>
  <%end%>
<%else%>
  None
<%end%>

</div>
