.navbar {
  background-color: #73499e;
  margin-bottom: 0px;
}

#logo {
  height: 65px;
}

.css-profile {
  height:150px;
}

.css-eventimg {
  max-height: 250px;
  margin-top:25px
}

.friendbar {
  position: relative;
  right: 10px;
}

.event-detail{
	font-size:28px;
}

.jumbotron {
background: url('/images/soccer.jpg');
height: 500px;
margin-left: 5% ;
margin-right: 5% ;
}

.searchbar{
	padding:25px;
	border:1px solid black;
	text-align: center;
	width:70%;
	margin:0 auto;
	margin-top:-120px;
	background: #fff;
	border-radius: 5px;
	color:#30c0bc;
	font-family: 'Open Sans', sans-serif;
}

#search{
	width:500px;
	height:30px;
}
.search-btn{
	color:#fff;
	background: #73499e;
	height: 30px;
	width:90px;
	margin-bottom: 5px;
  line-height: 0px;
}
.search-text{
	font-size: 35px;
	letter-spacing: 2px;
}

.categories {
display: inline;
}

/*
NEW STYLING*/

#main_container {
align-items: center;
text-align: center;

}

body {
  align-items: center;
}

.container {
  margin-top: 100px;

}

::-webkit-input-placeholder {
   text-align: center;
   background: transparent;
   border: none;
   color: rgba(255, 255, 255,0.85);
  }

#placeholder_color {
}

input[type="text"] {
    background: rgba(0,0,0,0.4);
    /*margin: 5px;*/
    font-size: 18px;
    border: none;
    color: white;
    text-align: center;
}
